<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.sg.vault.view.ProjectDocumentNavigatorView"
            icon="image/v_projectfolder32.png"
            id="com.sg.cpm.view.projectdocument"
            name="项目文件夹"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.sg.vault.view.OrgDocumentNavigatorView"
            icon="image/v_orgfolder32.png"
            id="com.sg.cpm.view.orgdocument"
            name="组织文件夹"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.sg.cpm.perspectives.document">
         <view
               closeable="false"
               id="com.sg.cpm.view.projectdocument"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.sg.cpm.view.orgdocument"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="com.sg.cpm.view.projectdocument"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <actionSet
               id="com.sg.cpm.actionSet.document">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.sg.widget.querytreeviewer">
      <tree
            autoExpandLevel="1"
            fullSelection="true"
            headerVisiable="false"
            id="com.sg.vault.folder.structure.project"
            lineVisiable="false"
            multiSelection="false"
            query="com.sg.vault.folder.root"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.vault.viewer.ProjectFolderLabelProvider"
               name="desc"
               style="SWT.LEFT"
               type="String"
               width="350">
         </column>
      </tree>
      <tree
            autoExpandLevel="1"
            fullSelection="true"
            headerVisiable="false"
            id="com.sg.vault.folder.structure.org"
            lineVisiable="false"
            multiSelection="false"
            query="com.sg.vault.folder.root"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.vault.viewer.OrgFolderLabelProvider"
               name="desc"
               style="SWT.LEFT"
               type="String"
               width="350">
         </column>
      </tree>
   </extension>
   <extension
         point="com.sg.widget.navigatableView">
      <navigatableView
            initLoad="true"
            partId="com.sg.cpm.view.projectdocument"
            queryViewerId="com.sg.vault.folder.structure.project">
      </navigatableView>
      <navigatableView
            initLoad="true"
            partId="com.sg.cpm.view.orgdocument"
            queryViewerId="com.sg.vault.folder.structure.org">
      </navigatableView>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.sg.cpm.actionSet.document"
            label="文档">
         <action
               allowLabelUpdate="false"
               class="com.sg.vault.actions.RemoveFolderStructureItem"
               enablesFor="1"
               icon="image/tb_trash32.png"
               id="com.sg.cpm.action.folderStructure.remove"
               label="删除"
               retarget="false"
               style="push"
               toolbarPath="main/pers">
         </action>
         <action
               allowLabelUpdate="false"
               class="com.sg.vault.actions.EditFolderStructureItem"
               enablesFor="1"
               icon="image/tb_edit32.png"
               id="com.sg.cpm.action.folderStructure.edit"
               label="编辑"
               retarget="false"
               style="push"
               toolbarPath="main/pers">
         </action>
         <action
               allowLabelUpdate="false"
               class="com.sg.vault.actions.CreateDocument"
               enablesFor="1"
               icon="image/tb_add_doc32.png"
               id="com.sg.cpm.action.folderStructure.createDocument"
               label="创建文档"
               retarget="false"
               style="push"
               toolbarPath="main/pers">
         </action>
         <action
               allowLabelUpdate="false"
               class="com.sg.vault.actions.CreateFolder"
               enablesFor="1"
               icon="image/tb_create_stru.png"
               id="com.sg.cpm.action.folderStructure.createFolder"
               label="创建目录"
               retarget="false"
               style="push"
               toolbarPath="main/pers">
         </action>
      </actionSet>
   </extension>

</plugin>
