<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.sg.cpm.myworks.view.WorkInBox"
            icon="image/v_inbox32.png"
            id="com.sg.cpm.view.workinbox"
            name="我的工作"
            restorable="true">
      </view>
      <view
            class="com.sg.cpm.myworks.view.Recyclebin"
            icon="image/v_recycle32.png"
            id="com.sg.cpm.view.work.recyclebin"
            name="回收站"
            restorable="true">
      </view>
      <view
            class="com.sg.cpm.myworks.view.MyLaunchedWork"
            icon="image/v_my_work32.png"
            id="com.sg.cpm.view.work.myLaunched"
            name="我发起的工作"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.sg.cpm.perspectives.workspace">
         <view
               closeable="false"
               id="com.sg.cpm.view.workinbox"
               minimized="false"
               moveable="false"
               ratio="0.38"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.sg.cpm.view.work.myLaunched"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="com.sg.cpm.view.workinbox"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <actionSet
               id="com.sg.cpm.actionSet.myWorks">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.sg.cpm.myworks.worksinbox"
            targetID="com.sg.cpm.view.workinbox">
         <action
               class="com.sg.cpm.myworks.viewer.MessageSortControl"
               icon="image/v_sort32.png"
               id="com.sg.cpm.myworks.sortcontrol"
               label="排序"
               style="push"
               toolbarPath="additions"
               tooltip="对我的工作进行排序">
         </action>
         <action
               class="com.sg.cpm.myworks.viewer.MyWorkFilterControl"
               icon="image/v_role32.png"
               id="com.sg.cpm.myworks.myworkfilter"
               label="流程工作过滤"
               style="push"
               toolbarPath="additions"
               tooltip="我的流程任务/我的所有任务">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.sg.cpm.actionSet.myWorks"
            label="我的工作">
         <action
               allowLabelUpdate="false"
               class="com.sg.cpm.myworks.actions.Remove"
               enablesFor="1"
               icon="image/tb_trash32.png"
               id="com.sg.cpm.action.myworks.remove"
               label="删除"
               retarget="false"
               style="push"
               toolbarPath="main/pers">
         </action>
         <action
               allowLabelUpdate="false"
               class="com.sg.cpm.myworks.actions.Edit"
               enablesFor="1"
               icon="image/tb_edit32.png"
               id="com.sg.cpm.action.myworks.edit"
               label="编辑"
               retarget="false"
               style="push"
               toolbarPath="main/pers">
         </action>
         <action
               allowLabelUpdate="false"
               class="com.sg.cpm.myworks.actions.CreateDocument"
               icon="image/tb_add_doc32.png"
               id="com.sg.cpm.action.myworks.createDocuments"
               label="创建文档"
               retarget="false"
               style="push"
               toolbarPath="main/pers">
         </action>
         <action
               allowLabelUpdate="false"
               class="com.sg.cpm.myworks.actions.CreateWork"
               icon="image/tb_work_add32.png"
               id="com.sg.cpm.action.myworks.createWork"
               label="发起工作"
               retarget="false"
               style="push"
               toolbarPath="main/pers">
         </action>
      </actionSet>
   </extension>
   <extension
         point="com.sg.widget.querytableviewer">
      <table
            customItemHeight="64"
            headerVisiable="false"
            id="com.sg.cpm.myworks.myLaunched"
            lineVisiable="false"
            markupEnabled="true"
            multiSelection="false"
            query="com.sg.cpm.query.work"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.myworks.view.MyLaunchedWorkLabelProvider"
               name="desc"
               style="SWT.LEFT"
               type="String"
               width="350">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widget.navigatableView">
      <navigatableView
            initLoad="false"
            partId="com.sg.cpm.view.work.myLaunched"
            queryViewerId="com.sg.cpm.myworks.myLaunched">
      </navigatableView>
   </extension>
</plugin>
