<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.widget.singleobjecteditor">
      <editor
            collectionName="document"
            editorDelegator="com.sg.widget.editor.SingleObjectEditorDelegator"
            exportParameter="com.sg.document.tmt.change.export.ExportChangeReport"
            exportType="word"
            id="com.sg.cpm.editor.JZ-QR-PCN"
            image="image/v_calendar32.png"
            name="项目变更申请"
            recreateable="false"
            saveHandler="com.sg.common.db.IDAutoGenCommonSaveHandler">
         <basicpage
               description="提交项目变更申请"
               id="JZ-QR-PCN-1"
               image="image/m_task16.gif"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     expand="true"
                     label="概要信息">
                  <field
                        computeField="false"
                        editPart="SelectionDialog"
                        editable="true"
                        id="project"
                        label="项目"
                        labelVisible="true"
                        name="project"
                        optionProvider="com.sg.common.model.ProjectOfCurrentUserAsPMOption"
                        persistable="true"
                        presentation="com.sg.common.ui.DBObjectDescPresentation"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        editPart="Text(Single Line)"
                        editable="false"
                        id="projectid"
                        label="工作令号"
                        labelVisible="true"
                        name="projectid"
                        persistable="false"
                        presentation="com.sg.document.editor.presentation.ProjectNumberPresentation"
                        required="false"
                        textMessage="[选择项目后自动显示]"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        editPart="Text(Single Line)"
                        editable="false"
                        id="pmname"
                        label="项目负责人"
                        labelVisible="true"
                        name="pmname"
                        persistable="false"
                        presentation="com.sg.document.editor.presentation.PMNamePresentation"
                        required="false"
                        textMessage="[选择项目后自动显示]"
                        type="String"
                        visible="true">
                  </field>
               </section>
               <section
                     expand="true"
                     label="变更原因">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="140"
                        id="changereq"
                        labelVisible="false"
                        name="changereq"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="工作范围的变更">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="80"
                        id="changeeffect4"
                        labelVisible="false"
                        name="changeeffect4"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
               <section
                     expand="true"
                     label="进度计划的变更">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="80"
                        id="changeeffect1"
                        labelVisible="false"
                        name="changeeffect1"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
               <section
                     expand="true"
                     label="预算的变更">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="80"
                        id="changeeffect2"
                        labelVisible="false"
                        name="changeeffect2"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
               <section
                     expand="true"
                     label="组织团队的变更">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        heightHint="80"
                        id="changeeffect3"
                        labelVisible="false"
                        name="changeeffect3"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="项目交付文档"
               id="com.sg.cpm.project.document"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.ProjectDocumentPage"
               title="文档">
         </basicpage>
         <basicpage
               description="与文档相关的流程"
               id="com.sg.cpm.workhistorypage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkHistroyPage"
               title="流程">
         </basicpage>
         <basicpage
               description="系统属性以及附件"
               id="com.sg.cpm.systempage"
               image="image/m_system16.gif"
               title="系统信息">
            <pagecolumn
                  id="1">
               <section
                     expand="true"
                     label="系统属性">
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="true"
                        id="desc"
                        label="文档名称"
                        labelVisible="true"
                        name="desc"
                        persistable="true"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="creator"
                        label="创建者"
                        labelVisible="true"
                        name="creator"
                        persistable="true"
                        presentation="com.sg.widget.editor.field.presentation.IdDescPresentation"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="owner"
                        label="所有者"
                        labelVisible="true"
                        name="owner"
                        persistable="true"
                        presentation="com.sg.widget.editor.field.presentation.IdDescPresentation"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="DateDialog"
                        editable="false"
                        id="createdate"
                        label="创建时间"
                        labelVisible="true"
                        name="createdate"
                        persistable="true"
                        required="false"
                        type="Date"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="DateDialog"
                        editable="false"
                        id="modifydate"
                        label="最后修改"
                        labelVisible="true"
                        name="modifydate"
                        persistable="true"
                        required="false"
                        type="Date"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="ChechBox"
                        editable="false"
                        id="lockmark"
                        label="锁定"
                        labelVisible="true"
                        name="lockmark"
                        persistable="true"
                        required="false"
                        type="Boolean"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="lockedby"
                        label="锁定者"
                        labelVisible="true"
                        name="lockedby"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="lockreason"
                        label="锁定原因"
                        labelVisible="true"
                        name="lockreason"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="FileUploader"
                        editable="true"
                        id="thumb"
                        label="缩略图"
                        labelVisible="true"
                        name="thumb"
                        nameSpace="project_thumb"
                        persistable="true"
                        required="false"
                        type="File"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="附件">
                  <field
                        computeField="false"
                        editPart="FileUploader(Multi)"
                        editable="true"
                        id="attachment"
                        labelVisible="false"
                        name="attachment"
                        nameSpace="project_attachment"
                        persistable="true"
                        required="false"
                        type="File"
                        visible="true">
                  </field>
               </section>
               <section
                     expand="true"
                     label="流程附件">
                  <field
                        computeField="false"
                        editPart="FileUploader(Multi)"
                        editable="true"
                        id="process_attachment"
                        labelVisible="false"
                        name="process_attachment"
                        nameSpace="project_attachment"
                        persistable="true"
                        required="false"
                        type="File"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.common.taskForm">
      <taskForm
            editorId="com.tmt.projectchange.submit"
            eventType="complete"
            inputHandler="com.sg.document.tmt.change.input.Submit"
            name="提交变更申请"
            persistentFields="date,actor"
            processDefinitionId="com.tmt.ProjectChange"
            validation="com.sg.document.tmt.change.validation.SubmitValidation"
            workflowInfo="com.sg.document.tmt.change.workflow.InformationOfSubmit">
         <processParameter
               processParameterDelegator="com.sg.document.tmt.change.parameters.ChiefEngineer"
               processParameterName="act_chiefengineer"
               taskFormFieldName="chiefengineer">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.document.workflow.parameters.PassProjectId"
               processParameterName="project_oid"
               taskFormFieldName="project">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.document.tmt.change.parameters.Commission"
               processParameterName="commission"
               taskFormFieldName="commission">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.document.tmt.change.parameters.TechAudit"
               processParameterName="act_techaudit"
               taskFormFieldName="techaudit">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="com.tmt.projectchange.check1"
            eventType="complete"
            name="委托单位意见"
            persistentFields="comment,choice,date,actor"
            processDefinitionId="com.tmt.ProjectChange">
         <processParameter
               processParameterName="choice_1"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="com.tmt.projectchange.check2"
            eventType="complete"
            name="研究室批准"
            persistentFields="comment,choice,date,actor"
            processDefinitionId="com.tmt.ProjectChange">
         <processParameter
               processParameterName="choice_2"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="com.tmt.projectchange.check0"
            eventType="complete"
            name="首席师批准"
            persistentFields="comment,choice,date,actor"
            processDefinitionId="com.tmt.ProjectChange">
         <processParameter
               processParameterName="choice_0"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="com.tmt.projectchange.check3"
            eventType="complete"
            name="技术副主任批准"
            persistentFields="comment,choice,date,actor"
            processDefinitionId="com.tmt.ProjectChange">
         <processParameter
               processParameterName="choice_3"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="com.tmt.projectchange.check"
            eventType="complete"
            name="技术中心批准"
            persistentFields="comment,choice,date,actor"
            processDefinitionId="com.tmt.ProjectChange">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widget.singleobjecteditor">
      <editor
            collectionName="dummy"
            id="com.tmt.projectchange.submit"
            image="image/v_task32.png"
            name="变更申请">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="审核意见">
            <pagecolumn
                  id="1">
               <section
                     expand="true"
                     label="工作信息">
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="desc"
                        label="描述"
                        labelVisible="true"
                        name="desc"
                        persistable="false"
                        required="false"
                        type="String"
                        visible="true"
                        widthHint="180">
                  </field>
                  <field
                        computeField="false"
                        editPart="SelectionDialog"
                        editable="false"
                        id="project"
                        label="项目"
                        labelVisible="true"
                        name="project"
                        optionProvider="com.sg.common.model.ProjectOfCurrentUserAsPMOption"
                        persistable="true"
                        presentation="com.sg.common.ui.DBObjectDescPresentation"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.document.editor.DefualtProjectManagerFromWork"
                        editPart="SelectionDialog"
                        editable="true"
                        id="chiefengineer"
                        label="本方向首席师"
                        labelVisible="true"
                        name="chiefengineer"
                        optionProvider="com.sg.document.editor.ChiefEngineerOption"
                        persistable="true"
                        presentation="com.sg.common.ui.DBObjectUserPresentation"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="pm"
                        label="发起人"
                        labelVisible="true"
                        name="pm"
                        persistable="false"
                        presentation="com.sg.common.ui.DBObjectUserPresentation"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
      <editor
            collectionName="dummy"
            id="com.tmt.projectchange.check"
            image="image/v_task32.png"
            name="项目变更技术中心批准">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="批准意见">
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="批准意见">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Radio"
                        editable="true"
                        id="choice"
                        label="意见"
                        labelVisible="false"
                        name="choice"
                        openClean="true"
                        option="com.sg.document.tmt.change.choice2"
                        persistable="true"
                        required="true"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.common.ui.CurrentDate"
                        editPart="DateDialog"
                        editable="false"
                        id="date"
                        label="日期"
                        labelVisible="true"
                        name="date"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="Date"
                        visible="true"
                        widthHint="150">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.common.ui.CurrentUserDefaultValue2"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="actor"
                        label="审批人"
                        labelVisible="true"
                        name="actor"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="dummy"
            id="com.tmt.projectchange.check0"
            image="image/v_task32.png"
            name="项目变更首席师批准">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="批准意见">
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="批准意见">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Radio"
                        editable="true"
                        id="choice"
                        label="意见"
                        labelVisible="false"
                        name="choice"
                        openClean="true"
                        option="com.sg.document.tmt.change.choice2"
                        persistable="true"
                        required="true"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.common.ui.CurrentDate"
                        editPart="DateDialog"
                        editable="false"
                        id="date"
                        label="日期"
                        labelVisible="true"
                        name="date"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="Date"
                        visible="true"
                        widthHint="150">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.common.ui.CurrentUserDefaultValue2"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="actor"
                        label="审批人"
                        labelVisible="true"
                        name="actor"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="dummy"
            id="com.tmt.projectchange.check1"
            image="image/v_task32.png"
            name="项目变更委托单位批准">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="批准意见">
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="批准意见">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Radio"
                        editable="true"
                        id="choice"
                        label="意见"
                        labelVisible="false"
                        name="choice"
                        openClean="true"
                        option="com.sg.document.tmt.change.choice2"
                        persistable="true"
                        required="true"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.common.ui.CurrentDate"
                        editPart="DateDialog"
                        editable="false"
                        id="date"
                        label="日期"
                        labelVisible="true"
                        name="date"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="Date"
                        visible="true"
                        widthHint="150">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.common.ui.CurrentUserDefaultValue2"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="actor"
                        label="审批人"
                        labelVisible="true"
                        name="actor"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="dummy"
            id="com.tmt.projectchange.check2"
            image="image/v_task32.png"
            name="项目变更研究室批准">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="批准意见">
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="批准意见">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Radio"
                        editable="true"
                        id="choice"
                        label="意见"
                        labelVisible="false"
                        name="choice"
                        openClean="true"
                        option="com.sg.document.tmt.change.choice2"
                        persistable="true"
                        required="true"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.common.ui.CurrentDate"
                        editPart="DateDialog"
                        editable="false"
                        id="date"
                        label="日期"
                        labelVisible="true"
                        name="date"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="Date"
                        visible="true"
                        widthHint="150">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.common.ui.CurrentUserDefaultValue2"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="actor"
                        label="审批人"
                        labelVisible="true"
                        name="actor"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="dummy"
            id="com.tmt.projectchange.check3"
            image="image/v_task32.png"
            name="项目变更技术副主任批准">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="批准意见">
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="批准意见">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="说明"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Radio"
                        editable="true"
                        id="choice"
                        label="意见"
                        labelVisible="false"
                        name="choice"
                        openClean="true"
                        option="com.sg.document.tmt.change.choice2"
                        persistable="true"
                        required="true"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.common.ui.CurrentDate"
                        editPart="DateDialog"
                        editable="false"
                        id="date"
                        label="日期"
                        labelVisible="true"
                        name="date"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="Date"
                        visible="true"
                        widthHint="150">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.common.ui.CurrentUserDefaultValue2"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="actor"
                        label="审批人"
                        labelVisible="true"
                        name="actor"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="com.sg.project.taskservice"
            name="变更"
            operation="change"
            serviceProvider="com.sg.document.basic.service.FinishPhaseReview">
      </service>
   </extension>
   <extension
         point="com.sg.widget.resource">
      <enumerate
            id="com.sg.document.tmt.change.choice2"
            label="通过—否决">
         <enumerate
               id="1"
               label="同意变更"
               value="通过">
         </enumerate>
         <enumerate
               id="2"
               label="否决变更"
               value="否决">
         </enumerate>
      </enumerate>
   </extension>

</plugin>
