<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sg.cpm.admin.category"
            name="系统设置和管理">
      </category>
      <view
            category="com.sg.cpm.admin.category"
            class="com.sg.cpm.admin.navigator.FunctionNavigatorView"
            icon="image/v_admin32.png"
            id="com.sg.cpm.view.adminNavigator"
            name="系统设置和管理"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.sg.cpm.perspectives.admin">
         <view
               closeable="false"
               id="com.sg.cpm.view.adminNavigator"
               minimized="false"
               moveable="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sg.cpm.admin.projecttemplate.ProjectTemplateEditor"
            default="false"
            icon="image/v_cal32.png"
            id="com.sg.cpm.admin.projectTemplateEditor"
            name="项目模板管理">
      </editor>
      <editor
            class="com.sg.cpm.admin.organization.OrganizationEditor"
            default="false"
            icon="image/v_org32.png"
            id="com.sg.cpm.admin.organizationEditor"
            name="组织和角色管理">
      </editor>
      <editor
            class="com.sg.cpm.admin.user.UserEditor"
            default="false"
            icon="image/v_site32.png"
            id="com.sg.cpm.admin.userEditor"
            name="站点和用户管理">
      </editor>
      <editor
            class="com.sg.cpm.admin.auth.AuthEditor"
            default="false"
            icon="image/v_auth32.png"
            id="com.sg.cpm.admin.authEditor"
            name="权限管理">
      </editor>
      <editor
            class="com.sg.cpm.admin.work.WorkTemplateEditor"
            default="false"
            icon="image/v_my_work32.png"
            id="com.sg.cpm.admin.workTemplateEditor"
            name="工作模板">
      </editor>
      <editor
            class="com.sg.cpm.admin.workflow.Guvnor"
            default="false"
            icon="image/v_repository32.png"
            id="com.sg.cpm.admin.guvnor"
            name="业务规则仓库">
      </editor>
      <editor
            class="com.sg.cpm.admin.workflow.WFConsole"
            default="false"
            icon="image/v_workflow32.png"
            id="com.sg.cpm.admin.wfconsole"
            name="业务流程监视器">
      </editor>
      <editor
            class="com.sg.cpm.admin.server.SettingEditor"
            default="false"
            icon="image/v_server32.png"
            id="com.sg.cpm.admin.serverSettingEditor"
            name="服务器设定">
      </editor>
   </extension>
   
         <extension
         point="com.sg.widget.querytableviewer">
      <table
            headerVisiable="false"
            id="com.sg.cpm.queryProjectTemplate"
            lineVisiable="false"
            markupEnabled="false"
            multiSelection="false"
            query="com.sg.cpm.query.projectTemplate2"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.WBSTemplateStatusIconProvider"
               name="启用停用"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="24">
         </column>
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.ProjectTemplateLabelProvider"
               moveable="true"
               name="项目模板"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="String"
               width="250">
         </column>
      </table>
      <table
            customItemHeight="70"
            headerVisiable="false"
            id="com.sg.admin.site.user.table"
            lineVisiable="false"
            markupEnabled="true"
            multiSelection="false"
            query="com.sg.cpm.query.user"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.UserLableProvider"
               moveable="true"
               name="用户名"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="String"
               width="350">
         </column>
      </table>
      <table
            headerVisiable="false"
            id="com.sg.admin.table.queryWorkTemplate"
            lineVisiable="false"
            multiSelection="false"
            query="com.sg.cpm.query.work_template"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.WBSTemplateStatusIconProvider"
               name="启用停用"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="24">
         </column>
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.WBSTemplateLabelProvider"
               name="描述"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="300">
         </column>
      </table>
      <table
            headerVisiable="true"
            id="com.sg.admin.site.user.table.nostyle"
            lineVisiable="true"
            markupEnabled="false"
            multiSelection="false"
            query="com.sg.cpm.query.user"
            useHashlookup="true">
         <column
               column="activate"
               moveable="true"
               name="激活"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="Boolean"
               width="40">
         </column>
         <column
               column="uid"
               moveable="true"
               name="数字ID"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="String"
               width="80">
         </column>
         <column
               column="desc"
               moveable="true"
               name="ID"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="String"
               width="80">
         </column>
         <column
               column="name"
               moveable="true"
               name="姓名"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="String"
               width="80">
         </column>
         <column
               column="email"
               moveable="true"
               name="Email"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="String"
               width="200">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.widget.querytreeviewer">
      <tree
            bindingPartId="com.sg.cpm.view.adminNavigator"
            fullSelection="true"
            headerVisiable="false"
            id="com.sg.cpm.admin.navigator"
            lineVisiable="false"
            markupEnabled="false"
            multiSelection="false"
            query="com.sg.cpm.admin.navigator.root"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.FunctionLabelProvider"
               moveable="false"
               name="com.sg.cpm.admin.navogator.desc"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="162">
         </column>
         <column
               column="tooltips"
               moveable="false"
               name="com.sg.cpm.admin.navogator.tips"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="0">
         </column>
      </tree>
   </extension>
   <extension
         point="com.sg.widget.querytreeviewer">
      <tree
            autoExpandLevel="2"
            fullSelection="true"
            headerVisiable="true"
            id="com.sg.cpm.projectTemplate.wbs"
            lineVisiable="false"
            multiSelection="false"
            query="com.sg.cpm.currentProjectWBSTemplate"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.WBSTemplateLabelProvider"
               name="描述"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="250">
         </column>
         <column
               column="participate"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.WBSTemplateParticipateLabelProvider"
               name="承担者"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="100">
         </column>
         <column
               column="require"
               name="必须"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Boolean"
               width="40">
         </column>
         <column
               column="checkattachment"
               name="附件必须"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Boolean"
               width="60">
         </column>
      </tree>
      <tree
            autoExpandLevel="2"
            fullSelection="true"
            headerVisiable="false"
            id="com.sg.cpm.projectTemplate.obs"
            lineVisiable="false"
            multiSelection="false"
            query="com.sg.cpm.currentProjectOBSTemplate"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.AdminOBSLabelProvider"
               name="描述"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="300">
         </column>
      </tree>
      <tree
            autoExpandLevel="2"
            fullSelection="true"
            headerVisiable="true"
            id="com.sg.admin.org.tree"
            lineVisiable="true"
            multiSelection="false"
            query="com.sg.admin.org.root"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.AdminOBSLabelProvider"
               name="组织名称"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="String"
               width="300">
         </column>
      </tree>
      <tree
            autoExpandLevel="2"
            fullSelection="true"
            headerVisiable="false"
            id="com.sg.admin.site.tree"
            lineVisiable="false"
            multiSelection="false"
            query="com.sg.common.site.root"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.SiteLableProvider"
               moveable="true"
               name="站点名"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="String"
               width="350">
         </column>
      </tree>
      <tree
            autoExpandLevel="2"
            fullSelection="true"
            headerVisiable="false"
            id="com.sg.admin.org2.tree"
            lineVisiable="false"
            multiSelection="false"
            query="com.sg.admin.org2.root"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.admin.ui.lableprovider.AdminOBSLabelProvider"
               name="描述"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="300">
         </column>
      </tree>
   </extension>
   
      <extension
            name="functions"
            point="com.sg.db.cascade">
      <singleObject
            id="com.sg.cpm.admin.navigator.root">
         <listObject>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.project">
            </singleObjectDefinition>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.org">
            </singleObjectDefinition>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.auth">
            </singleObjectDefinition>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.work">
            </singleObjectDefinition>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.setting">
            </singleObjectDefinition>
         </listObject>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.project">
         <key_value
               fieldName="id">
            <singleValue
                  value="1"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="desc">
            <singleValue
                  value="项目"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  valueType="String">
            </singleValue>
         </key_value>
         <listObject>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.project.template">
            </singleObjectDefinition>
         </listObject>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.project.template">
         <key_value
               fieldName="desc">
            <singleValue
                  value="项目模板"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="10"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="定义项目模板，可应用于快速编制项目计划"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_editor">
            <singleValue
                  value="com.sg.cpm.admin.projectTemplateEditor"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tokenId">
            <singleValue
                  value="site.siteadmin"
                  valueType="String">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.project.workdelivery">
         <key_value
               fieldName="desc">
            <singleValue
                  value="工作与交付物"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="11"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="为各类工作指定交付物"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.project.workflow">
         <key_value
               fieldName="desc">
            <singleValue
                  value="工作流"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="12"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="为各类工作指定工作流"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.auth">
         <key_value
               fieldName="desc">
            <singleValue
                  value="权限管理"
                  valueType="String">
            </singleValue>
         </key_value>
         <listObject>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.auth.setting">
            </singleObjectDefinition>
         </listObject>
         <key_value
               fieldName="id">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.auth.setting">
         <key_value
               fieldName="desc">
            <singleValue
                  value="权限设置"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="20"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="组织、角色和用户的权限设置"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_editor">
            <singleValue
                  value="com.sg.cpm.admin.authEditor"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tokenId">
            <singleValue
                  value="site.authmanager"
                  valueType="String">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.auth.query">
         <key_value
               fieldName="desc">
            <singleValue
                  value="权限查询"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="21"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="查询某个用户的权限"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.org">
         <key_value
               fieldName="desc">
            <singleValue
                  value="组织和团队"
                  valueType="String">
            </singleValue>
         </key_value>
         <listObject>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.org.user">
            </singleObjectDefinition>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.org.obs">
            </singleObjectDefinition>
         </listObject>
         <key_value
               fieldName="id">
            <singleValue
                  value="3"
                  valueType="Integer">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.org.user">
         <key_value
               fieldName="desc">
            <singleValue
                  value="站点和用户管理"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="31"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="增加新用户、密码重设和停用某个用户"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_editor">
            <singleValue
                  value="com.sg.cpm.admin.userEditor"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tokenId">
            <singleValue
                  value="site.siteadmin"
                  valueType="String">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.org.obs">
         <key_value
               fieldName="desc">
            <singleValue
                  value="组织结构"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="32"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="建立当前的组织结构"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_editor">
            <singleValue
                  value="com.sg.cpm.admin.organizationEditor"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tokenId">
            <singleValue
                  value="site.obsmanager"
                  valueType="String">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.work">
         <key_value
               fieldName="desc">
            <singleValue
                  value="工作与流程"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="4"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="工作模板以及工作流定义"
                  valueType="String">
            </singleValue>
         </key_value>
         <listObject>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.work.template">
            </singleObjectDefinition>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.work.guvnor">
            </singleObjectDefinition>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.work.wfconsole">
            </singleObjectDefinition>
         </listObject>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.work.template">
         <key_value
               fieldName="desc">
            <singleValue
                  value="管理工作定义"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="41"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="建立当前组织的工作定义"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_editor">
            <singleValue
                  value="com.sg.cpm.admin.workTemplateEditor"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tokenId">
            <singleValue
                  value="site.obsmanager"
                  valueType="String">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.work.guvnor">
         <key_value
               fieldName="desc">
            <singleValue
                  value="业务规则仓库"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="42"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="管理组织业务规则"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_editor">
            <singleValue
                  value="com.sg.cpm.admin.guvnor"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tokenId">
            <singleValue
                  value="site.obsmanager"
                  valueType="String">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.work.wfconsole">
         <key_value
               fieldName="desc">
            <singleValue
                  value="业务流程监视器"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="43"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="工作流控制台"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_editor">
            <singleValue
                  value="com.sg.cpm.admin.wfconsole"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tokenId">
            <singleValue
                  value="site.obsmanager"
                  valueType="String">
            </singleValue>
         </key_value>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.setting">
         <key_value
               fieldName="desc">
            <singleValue
                  value="系统设置"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="5"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="系统运行的参数设置"
                  valueType="String">
            </singleValue>
         </key_value>
         <listObject>
            <singleObjectDefinition
                  singleObjectId="com.sg.cpm.admin.navigator.root.setting.server">
            </singleObjectDefinition>
         </listObject>
      </singleObject>
      <singleObject
            id="com.sg.cpm.admin.navigator.root.setting.server">
         <key_value
               fieldName="desc">
            <singleValue
                  value="服务器管理"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="id">
            <singleValue
                  value="51"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tooltips">
            <singleValue
                  value="服务器管理界面"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_type">
            <singleValue
                  value="2"
                  valueType="Integer">
            </singleValue>
         </key_value>
         <key_value
               fieldName="_editor">
            <singleValue
                  value="com.sg.cpm.admin.serverSettingEditor"
                  valueType="String">
            </singleValue>
         </key_value>
         <key_value
               fieldName="tokenId">
            <singleValue
                  value="site.siteadmin"
                  valueType="String">
            </singleValue>
         </key_value>
      </singleObject>
   </extension>
      <extension
            name="权限"
            point="com.sg.db.cascade">
         <singleObject
               id="com.sg.cpm.auth.site">
            <listObject>
               <singleObjectDefinition
                     singleObjectId="com.sg.cpm.auth.site.siteadmin">
               </singleObjectDefinition>
               <singleObjectDefinition
                     singleObjectId="com.sg.cpm.auth.site.obsmanager">
               </singleObjectDefinition>
               <singleObjectDefinition
                     singleObjectId="com.sg.cpm.auth.site.authmanager">
               </singleObjectDefinition>
            </listObject>
            <key_value
                  fieldName="_id">
               <singleValue
                     parameter="_id"
                     valueType="ObjectId">
               </singleValue>
            </key_value>
            <parameter
                  name="_id">
            </parameter>
            <parameterEvaluation
                  getValueFromWhichKey="_id"
                  putValueFromWhichParameter="_id">
            </parameterEvaluation>
         </singleObject>
         <singleObject
               id="com.sg.cpm.auth.site.siteadmin">
            <key_value
                  fieldName="id">
               <singleValue
                     value="site.siteadmin"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="desc">
               <singleValue
                     value="站点管理员: 管理站点结构，建立子站点，为站点添加删除用户以及对站点用户的管理"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="type">
               <singleValue
                     value="token"
                     valueType="String">
               </singleValue>
            </key_value>
         </singleObject>
         <singleObject
               id="com.sg.cpm.auth.site.obsmanager">
            <key_value
                  fieldName="id">
               <singleValue
                     value="site.obsmanager"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="desc">
               <singleValue
                     value="组织管理员: 管理组织结构，建立组织结构和角色，将用户加入到组织以及分配角色"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="type">
               <singleValue
                     value="token"
                     valueType="String">
               </singleValue>
            </key_value>
         </singleObject>
         <singleObject
               id="com.sg.cpm.auth.site.authmanager">
            <key_value
                  fieldName="id">
               <singleValue
                     value="site.authmanager"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="desc">
               <singleValue
                     value="权限管理员: 分配站点以及组织权限"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="type">
               <singleValue
                     value="token"
                     valueType="String">
               </singleValue>
            </key_value>
         </singleObject>
         <singleObject
               id="com.sg.cpm.auth.org">
            <listObject>
               <singleObjectDefinition
                     singleObjectId="com.sg.cpm.auth.org.projectmanager">
               </singleObjectDefinition>
               <singleObjectDefinition
                     singleObjectId="com.sg.cpm.auth.org.deptmanager">
               </singleObjectDefinition>
               <singleObjectDefinition
                     singleObjectId="com.sg.cpm.auth.org.projectadmin">
               </singleObjectDefinition>
               <singleObjectDefinition
                     singleObjectId="com.sg.cpm.auth.org.documentmanager">
               </singleObjectDefinition>
            </listObject>
            <key_value
                  fieldName="_id">
               <singleValue
                     parameter="_id"
                     valueType="ObjectId">
               </singleValue>
            </key_value>
            <parameter
                  name="_id">
            </parameter>
            <parameterEvaluation
                  getValueFromWhichKey="_id"
                  putValueFromWhichParameter="_id">
            </parameterEvaluation>
         </singleObject>
         <singleObject
               id="com.sg.cpm.auth.org.projectmanager">
            <key_value
                  fieldName="id">
               <singleValue
                     value="org.projectmanager"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="desc">
               <singleValue
                     value="项目经理: 可在选择的组织下新建项目"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="type">
               <singleValue
                     value="token"
                     valueType="String">
               </singleValue>
            </key_value>
         </singleObject>
         <singleObject
               id="com.sg.cpm.auth.org.deptmanager">
            <key_value
                  fieldName="id">
               <singleValue
                     value="org.deptmanager"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="desc">
               <singleValue
                     value="部门经理: 查看所选组织的所有项目和文档"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="type">
               <singleValue
                     value="token"
                     valueType="String">
               </singleValue>
            </key_value>
         </singleObject>
         <singleObject
               id="com.sg.cpm.auth.org.projectadmin">
            <key_value
                  fieldName="id">
               <singleValue
                     value="org.projectadmin"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="desc">
               <singleValue
                     value="项目管理员: 查看和编辑所选组织的所有项目"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="type">
               <singleValue
                     value="token"
                     valueType="String">
               </singleValue>
            </key_value>
         </singleObject>
         <singleObject
               id="com.sg.cpm.auth.org.documentmanager">
            <key_value
                  fieldName="id">
               <singleValue
                     value="org.documentmanager"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="desc">
               <singleValue
                     value="文档管理员: 查看和编辑所选组织的所有文件夹和文档"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="type">
               <singleValue
                     value="token"
                     valueType="String">
               </singleValue>
            </key_value>
         </singleObject>
      </extension>
</plugin>
