<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="singleobjecteditor" name="SingleObjectEditor" schema="schema/singleobjecteditor.exsd"/>
   <extension-point id="resource" name="Resource" schema="schema/resource.exsd"/>
   <extension-point id="querytableviewer" name="QueryTableViewer" schema="schema/querytableviewer.exsd"/>
   <extension-point id="querytreeviewer" name="QueryTreeViewer" schema="schema/querytreeviewer.exsd"/>
   <extension-point id="documentCreator" name="DocumentCreator" schema="schema/documentCreator.exsd"/>
   <extension-point id="expression" name="Expression" schema="schema/expression.exsd"/>
   <extension-point id="navigatableView" name="NavigatableView" schema="schema/navigatableView.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sg.widget.editor.SingleObjectEditor"
            default="false"
            id="com.sg.widget.singleobjecteditor"
            name="编辑器">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.sg.widget.category.tools"
            name="tools">
      </category>
      <command
            categoryId="com.sg.widget.category.tools"
            id="com.sg.widget.command.activeUpdate"
            name="activeUpdate">
      </command>
      <command
            categoryId="com.sg.widget.category.tools"
            id="com.sg.widget.command.activeExport"
            name="activeExport">
      </command>
      <command
            categoryId="com.sg.widget.category.tools"
            id="com.sg.widget.command.createObject"
            name="createObject">
      </command>
      <command
            categoryId="com.sg.widget.category.tools"
            id="com.sg.widget.command.editObject"
            name="editObject">
      </command>
      <command
            categoryId="com.sg.widget.category.tools"
            id="com.sg.widget.command.removeObject"
            name="removeObject">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.widget.handlers.ActiveUpdate"
            commandId="com.sg.widget.command.activeUpdate">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="com.sg.widget.part.IUpdateablePart">
               </instanceof>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activePart">
               <test
                     property="com.sg.widget.test.activePart.needUpdate">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.widget.handlers.ExcelExportHandler"
            commandId="com.sg.widget.command.activeExport">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="com.sg.widget.part.IFileExportable">
               </instanceof>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activePart">
               <test
                     property="com.sg.widget.test.activePart.canExport">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.widget.handlers.EditObject"
            commandId="com.sg.widget.command.editObject">
         <activeWhen>
            <reference
                  definitionId="singleObjectEditorInputAdaptable">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.sg.widget.handlers.CreateObject"
            commandId="com.sg.widget.command.createObject">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="com.sg.widget.part.IDocumentCreator">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.sg.widget.handlers.RemoveObject"
            commandId="com.sg.widget.command.removeObject">
         <activeWhen>
            <reference
                  definitionId="selectISingleObject">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sg.widget.test.ActivePartTester"
            id="com.sg.widget.test.activePart.needUpdate"
            namespace="com.sg.widget.test.activePart"
            properties="needUpdate"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.sg.widget.test.ActivePartTester"
            id="com.sg.widget.test.activePart.canExport"
            namespace="com.sg.widget.test.activePart"
            properties="canExport"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.sg.widget.test.AuthorityTester"
            id="com.sg.widget.test.authority.method"
            namespace="com.sg.widget.test.authority"
            properties="method"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.sg.db.model.ISingleObject"
            class="com.sg.widget.model.SingleObjectAdapterFactory">
         <adapter
               type="com.sg.widget.editor.ISingleObjectEditorInput">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="singleObjectEditorInputAdaptable">
         <with
               variable="selection">
            <iterate
                  operator="and">
               <adapt
                     type="com.sg.widget.editor.ISingleObjectEditorInput">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="selectISingleObject">
         <with
               variable="selection">
            <iterate
                  operator="and">
               <instanceof
                     value="com.sg.db.model.ISingleObject">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
