<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.widget.singleobjecteditor">
      <editor
            collectionName="document"
            editorDelegator="com.sg.widget.editor.SingleObjectEditorDelegator"
            id="com.sg.cpm.editor.projectmonthreport"
            image="image/v_calendar32.png"
            name="项目月报"
            recreateable="true"
            saveHandler="com.sg.common.db.IDAutoGenCommonSaveHandler">
         <basicpage
               description="项目计划以及本月执行情况"
               id="com.sg.cpm.project.basicpage"
               image="image/m_task16.gif"
               title="基本信息">
            <pagecolumn
                  id="1">
               <section
                     expand="true"
                     label="项目基本信息">
                  <field
                        computeField="false"
                        editPart="SelectionDialog"
                        editable="true"
                        id="project"
                        label="项目"
                        labelVisible="true"
                        name="project"
                        optionProvider="com.sg.common.model.ProjectOfCurrentUserAsPMOption"
                        persistable="true"
                        presentation="com.sg.common.ui.DBObjectDescPresentation"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        editPart="Text(Single Line)"
                        editable="false"
                        id="projectid"
                        label="工作令号"
                        labelVisible="true"
                        name="projectid"
                        persistable="false"
                        presentation="com.sg.document.editor.presentation.ProjectNumberPresentation"
                        required="false"
                        textMessage="[选择项目后自动显示]"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        editPart="Text(Single Line)"
                        editable="false"
                        id="pmname"
                        label="项目负责人"
                        labelVisible="true"
                        name="pmname"
                        persistable="false"
                        presentation="com.sg.document.editor.presentation.PMNamePresentation"
                        required="false"
                        textMessage="[选择项目后自动显示]"
                        type="String"
                        visible="true">
                  </field>
                  <fieldgroup
                        columnCount="2">
                     <field
                           computeField="false"
                           defaultValueProvider="com.sg.document.tmt.projectreport.editor.defaultvalue.DefaultYear"
                           editPart="Text(Single Line)"
                           editable="true"
                           id="year"
                           label="年"
                           labelVisible="true"
                           name="year"
                           persistable="true"
                           required="true"
                           type="String"
                           visible="true">
                     </field>
                     <field
                           computeField="false"
                           defaultValueProvider="com.sg.document.tmt.projectreport.editor.defaultvalue.DefaultMonth"
                           editPart="Combo(Read Only)"
                           editable="true"
                           id="month"
                           label="月份"
                           labelVisible="true"
                           name="month"
                           option="com.sg.document.tmt.projectreport.month"
                           persistable="true"
                           required="true"
                           type="Integer"
                           visible="true">
                     </field>
                  </fieldgroup>
               </section>
               <section
                     expand="true"
                     label="计划与预算">
                  <fieldgroup
                        columnCount="2">
                     <field
                           editPart="Text(Single Line)"
                           editable="false"
                           id="planstart"
                           label="计划开始"
                           labelVisible="true"
                           name="planstart"
                           persistable="true"
                           presentation="com.sg.document.tmt.projectreport.editor.presentation.ProjectPlanStartPresentation"
                           required="false"
                           type="String"
                           visible="true"
                           widthHint="80">
                     </field>
                     <field
                           editPart="Text(Single Line)"
                           editable="false"
                           id="planfinish"
                           label="计划完成"
                           labelVisible="true"
                           name="planfinish"
                           persistable="true"
                           presentation="com.sg.document.tmt.projectreport.editor.presentation.ProjectPlanFinishPresentation"
                           required="false"
                           type="String"
                           visible="true"
                           widthHint="80">
                     </field>
                  </fieldgroup>
                  <field
                        editPart="Text(Single Line)"
                        editable="false"
                        id="budget"
                        label="预算（人民币万元）"
                        labelVisible="true"
                        name="budget"
                        persistable="true"
                        presentation="com.sg.document.tmt.projectreport.editor.presentation.ProjectBudgetPresentation"
                        presentationFormat="￥###,###,###.00"
                        required="false"
                        type="Double"
                        visible="true"
                        widthHint="80">
                  </field>
               </section>
               <section
                     expand="true"
                     label="项目执行情况">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="workSummary"
                        label="本月完成工作情况"
                        labelVisible="true"
                        name="workSummary"
                        persistable="true"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="workNextMonth"
                        label="下月计划"
                        labelVisible="true"
                        name="workNextMonth"
                        persistable="true"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="progressStatus"
                        label="当前进度状态"
                        labelVisible="true"
                        name="progressStatus"
                        option="com.sg.document.tmt.projectreport.progress"
                        persistable="true"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
            <pagecolumn
                  id="2">
               <section
                     label="项目进度状况">
                  <fieldgroup
                        columnCount="2">
                     <field
                           computeField="false"
                           editPart="Text(Single Line)"
                           editable="false"
                           id="timeFinished"
                           label="项目历时（天）"
                           labelVisible="true"
                           name="timeFinished"
                           persistable="true"
                           presentation="com.sg.document.tmt.projectreport.editor.presentation.ProjectTimeFinishedPresentation"
                           required="false"
                           type="Integer"
                           visible="true">
                     </field>
                     <field
                           computeField="false"
                           editPart="Text(Single Line)"
                           editable="false"
                           id="timeFinishedPer"
                           label="时间完成（%）"
                           labelVisible="true"
                           name="timeFinishedPer"
                           persistable="true"
                           presentation="com.sg.document.tmt.projectreport.editor.presentation.ProjectTimeFinishedPercentPresentation"
                           presentationFormat="###,###,###.00%"
                           required="false"
                           type="Double"
                           visible="true">
                     </field>
                  </fieldgroup>
               </section>
               <section
                     label="项目费用状况">
                  <fieldgroup
                        columnCount="2">
                     <field
                           computeField="false"
                           editPart="Text(Single Line)"
                           editable="true"
                           id="costFinishedMonth"
                           label="本月新增费用（万元）"
                           labelVisible="true"
                           name="costFinishedMonth"
                           persistable="true"
                           presentation="com.sg.widget.editor.field.presentation.NumberPresentation"
                           presentationFormat="￥###,###,###.00"
                           required="false"
                           type="Double"
                           visible="true">
                     </field>
                     <field
                           computeField="false"
                           editPart="Text(Single Line)"
                           editable="false"
                           id="costFinishedSum"
                           label="累计费用（万元）"
                           labelVisible="true"
                           name="costFinishedSum"
                           persistable="true"
                           presentation="com.sg.document.tmt.projectreport.editor.presentation.ProjectCostFinishedPresentation"
                           presentationFormat="￥###,###,###.00"
                           required="false"
                           type="Double"
                           visible="true">
                     </field>
                  </fieldgroup>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="costFinishedPer"
                        label="费用完成（%）"
                        labelVisible="true"
                        name="costFinishedPer"
                        persistable="true"
                        presentation="com.sg.document.tmt.projectreport.editor.presentation.ProjectCostFinishedPercentPresentation"
                        presentationFormat="###,###,###.00%"
                        required="false"
                        type="Double"
                        visible="true">
                  </field>
               </section>
               <section
                     description="请说明与计划的偏差（如果有）"
                     label="计划偏差说明">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="planSummary"
                        label="计划偏差说明"
                        labelVisible="false"
                        name="planSummary"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
               <section
                     description="请分析和报告项目当前存在的风险"
                     label="风险分析">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="riskSummary"
                        label="风险说明"
                        labelVisible="false"
                        name="riskSummary"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
               <section
                     label="首席师评价">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="false"
                        id="comment"
                        label="首席师评价"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="项目交付文档"
               id="com.sg.cpm.project.document"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.ProjectDocumentPage"
               title="文档">
         </basicpage>
         <basicpage
               description="与文档相关的流程"
               id="com.sg.cpm.workhistorypage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkHistroyPage"
               title="流程">
         </basicpage>
         <basicpage
               id="com.sg.cpm.project.systempage"
               image="image/m_task16.gif"
               title="系统信息">
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="系统属性">
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="creator"
                        label="创建者"
                        labelVisible="true"
                        name="creator"
                        persistable="true"
                        presentation="com.sg.widget.editor.field.presentation.IdDescPresentation"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="owner"
                        label="所有者"
                        labelVisible="true"
                        name="owner"
                        persistable="true"
                        presentation="com.sg.widget.editor.field.presentation.IdDescPresentation"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="DateDialog"
                        editable="false"
                        id="createdate"
                        label="创建时间"
                        labelVisible="true"
                        name="createdate"
                        persistable="true"
                        required="false"
                        type="Date"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="DateDialog"
                        editable="false"
                        id="modifydate"
                        label="最后修改"
                        labelVisible="true"
                        name="modifydate"
                        persistable="true"
                        required="false"
                        type="Date"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="ChechBox"
                        editable="false"
                        id="lockmark"
                        label="锁定"
                        labelVisible="true"
                        name="lockmark"
                        persistable="true"
                        required="false"
                        type="Boolean"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="lockedby"
                        label="锁定者"
                        labelVisible="true"
                        name="lockedby"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="lockreason"
                        label="锁定原因"
                        labelVisible="true"
                        name="lockreason"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="FileUploader"
                        editable="true"
                        id="thumb"
                        label="缩略图"
                        labelVisible="true"
                        name="thumb"
                        nameSpace="project_thumb"
                        persistable="true"
                        required="false"
                        type="File"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
            <pagecolumn>
               <section
                     expand="true"
                     label="附件">
                  <field
                        computeField="false"
                        editPart="FileUploader(Multi)"
                        editable="true"
                        id="attachment"
                        labelVisible="false"
                        name="attachment"
                        nameSpace="project_attachment"
                        persistable="true"
                        required="false"
                        type="File"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.widget.resource">
      <enumerate
            id="com.sg.document.tmt.projectreport.month"
            label="月份"
            value="月份">
         <enumerate
               id="1"
               label="1月"
               value="1">
         </enumerate>
         <enumerate
               id="2"
               label="2月"
               value="2">
         </enumerate>
         <enumerate
               id="3"
               label="3月"
               value="3">
         </enumerate>
         <enumerate
               id="4"
               label="4月"
               value="4">
         </enumerate>
         <enumerate
               id="5"
               label="5月"
               value="5">
         </enumerate>
         <enumerate
               id="6"
               label="6月"
               value="6">
         </enumerate>
         <enumerate
               id="7"
               label="7月"
               value="7">
         </enumerate>
         <enumerate
               id="8"
               label="8月"
               value="8">
         </enumerate>
         <enumerate
               id="9"
               label="9月"
               value="9">
         </enumerate>
         <enumerate
               id="10"
               label="10月"
               value="10">
         </enumerate>
         <enumerate
               id="11"
               label="11月"
               value="11">
         </enumerate>
         <enumerate
               id="12"
               label="12月"
               value="12">
         </enumerate>
      </enumerate>
      <enumerate
            id="com.sg.document.tmt.projectreport.progress"
            label="进展状态"
            value="进展状态">
         <enumerate
               id="1"
               label="正常进行"
               value="正常进行">
         </enumerate>
         <enumerate
               id="2"
               label="进度提前"
               value="进度提前">
         </enumerate>
         <enumerate
               id="3"
               label="进度滞后"
               value="进度滞后">
         </enumerate>
         <enumerate
               id="4"
               label="严重超期"
               value="严重超期">
         </enumerate>
      </enumerate>
   </extension>
   <extension
         point="com.sg.common.taskForm">
      <taskForm
            editorId="com.tmt.projectmonthlyreport.submit"
            eventType="complete"
            inputHandler="com.sg.document.tmt.projectreport.input.Submit"
            name="提交项目月报"
            persistentFields="date,actor"
            processDefinitionId="com.tmt.ProjectMonthlyReport"
            validation="com.sg.document.tmt.projectreport.validation.SubmitValidation">
         <processParameter
               processParameterDelegator="com.sg.document.tmt.projectreport.taskparameter.GetActChiefEngineer"
               processParameterName="act_chiefengineer"
               taskFormFieldName="act_chiefengineer">
         </processParameter>
         <processParameter
               processParameterDelegator="com.sg.document.workflow.parameters.PassProjectId"
               processParameterName="projectId"
               taskFormFieldName="project">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="com.tmt.projectmonthlyreport.inputCost"
            eventType="complete"
            inputHandler="com.sg.document.tmt.projectreport.input.Submit2"
            name="提交项目财务数据"
            persistentFields="date,actor"
            processDefinitionId="com.tmt.ProjectMonthlyReport"
            validation="com.sg.document.tmt.projectreport.validation.Submit2Validation">
      </taskForm>
      <taskForm
            editorId="com.tmt.ProjectMonthlyReport.check"
            eventType="complete"
            name="项目月报部门审核"
            persistentFields="comment,choice,date,actor"
            processDefinitionId="com.tmt.ProjectMonthlyReport">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
      <taskForm
            editorId="com.tmt.ProjectMonthlyReport.check2"
            eventType="complete"
            name="首席师评价"
            persistentFields="comment,date,actor"
            processDefinitionId="com.tmt.ProjectMonthlyReport"
            saveHandler="com.sg.document.tmt.projectreport.savehandler.SaveChiefComment">
      </taskForm>
      <taskForm
            editorId="com.tmt.ProjectMonthlyReport.check3"
            eventType="complete"
            name="项目月报审查"
            persistentFields="comment,choice,date,actor"
            processDefinitionId="com.tmt.ProjectMonthlyReport">
         <processParameter
               processParameterName="choice"
               taskFormFieldName="choice">
         </processParameter>
      </taskForm>
   </extension>
   <extension
         point="com.sg.widget.singleobjecteditor">
      <editor
            collectionName="dummy"
            id="com.tmt.projectmonthlyreport.submit"
            image="image/v_task32.png"
            name="提交项目月报">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="提交项目月报">
            <pagecolumn
                  id="1">
               <section
                     expand="true"
                     label="工作信息">
                  <field
                        computeField="false"
                        editPart="SelectionDialog"
                        editable="false"
                        id="project"
                        label="项目"
                        labelVisible="true"
                        name="project"
                        optionProvider="com.sg.common.model.ProjectOfCurrentUserAsPMOption"
                        persistable="true"
                        presentation="com.sg.common.ui.DBObjectDescPresentation"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.document.editor.DefualtProjectManagerFromWork"
                        editPart="SelectionDialog"
                        editable="false"
                        id="chiefengineer"
                        label="本方向首席师"
                        labelVisible="true"
                        name="chiefengineer"
                        optionProvider="com.sg.document.editor.ChiefEngineerOption"
                        persistable="true"
                        presentation="com.sg.common.ui.DBObjectUserPresentation"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.document.tmt.projectreport.editor.defaultvalue.DefaultYear"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="year"
                        label="年"
                        labelVisible="true"
                        name="year"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.document.tmt.projectreport.editor.defaultvalue.DefaultMonth"
                        editPart="Combo(Read Only)"
                        editable="false"
                        id="month"
                        label="月份"
                        labelVisible="true"
                        name="month"
                        option="com.sg.document.tmt.projectreport.month"
                        persistable="true"
                        required="false"
                        type="Integer"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="pm"
                        label="发起人"
                        labelVisible="true"
                        name="pm"
                        persistable="false"
                        presentation="com.sg.common.ui.DBObjectUserPresentation"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="dummy"
            id="com.tmt.projectmonthlyreport.inputCost"
            image="image/v_task32.png"
            name="提交项目财务数据">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="提交项目财务数据">
            <pagecolumn
                  id="1">
               <section
                     expand="true"
                     label="工作信息">
                  <field
                        computeField="false"
                        editPart="SelectionDialog"
                        editable="false"
                        id="project"
                        label="项目"
                        labelVisible="true"
                        name="project"
                        optionProvider="com.sg.common.model.ProjectOfCurrentUserAsPMOption"
                        persistable="true"
                        presentation="com.sg.common.ui.DBObjectDescPresentation"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.document.tmt.projectreport.editor.defaultvalue.DefaultYear"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="year"
                        label="年"
                        labelVisible="true"
                        name="year"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.document.tmt.projectreport.editor.defaultvalue.DefaultMonth"
                        editPart="Combo(Read Only)"
                        editable="false"
                        id="month"
                        label="月份"
                        labelVisible="true"
                        name="month"
                        option="com.sg.document.tmt.projectreport.month"
                        persistable="true"
                        required="false"
                        type="Integer"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="costFinishedMonth"
                        label="本月新增费用（万元）"
                        labelVisible="true"
                        name="costFinishedMonth"
                        persistable="true"
                        presentation="com.sg.widget.editor.field.presentation.NumberPresentation"
                        presentationFormat="￥###,###,###.00"
                        required="false"
                        type="Double"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="dummy"
            id="com.tmt.ProjectMonthlyReport.check"
            image="image/v_task32.png"
            name="项目月报部门审核">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="流程处理">
            <pagecolumn
                  id="1">
               <section
                     expand="true"
                     label="研究室意见">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Radio"
                        editable="true"
                        id="choice"
                        label="审核意见"
                        labelVisible="false"
                        name="choice"
                        openClean="true"
                        option="com.sg.document.basic.choice2b"
                        persistable="true"
                        required="true"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.common.ui.CurrentDate"
                        editPart="DateDialog"
                        editable="false"
                        id="date"
                        label="日期"
                        labelVisible="true"
                        name="date"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="Date"
                        visible="true"
                        widthHint="150">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.common.ui.CurrentUserDefaultValue2"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="actor"
                        label="审批人"
                        labelVisible="true"
                        name="actor"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="相关的文档"
               id="com.sg.cpm.task.docpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.DocumentTaskFormDefaultPage"
               title="文档">
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="dummy"
            id="com.tmt.ProjectMonthlyReport.check2"
            image="image/v_task32.png"
            name="首席师评价">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="流程处理">
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="首席师评价项目">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="审核意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.common.ui.CurrentDate"
                        editPart="DateDialog"
                        editable="false"
                        id="date"
                        label="日期"
                        labelVisible="true"
                        name="date"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="Date"
                        visible="true"
                        widthHint="150">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.common.ui.CurrentUserDefaultValue2"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="actor"
                        label="评价人"
                        labelVisible="true"
                        name="actor"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="相关的文档"
               id="com.sg.cpm.task.docpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.DocumentTaskFormDefaultPage"
               title="文档">
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
      <editor
            collectionName="dummy"
            id="com.tmt.ProjectMonthlyReport.check3"
            image="image/v_task32.png"
            name="项目月报审查">
         <basicpage
               id="1"
               image="image/m_task16.gif"
               title="流程处理">
            <pagecolumn
                  id="2">
               <section
                     expand="true"
                     label="项目月报审查意见">
                  <field
                        computeField="false"
                        editPart="Text(Multi Line)"
                        editable="true"
                        id="comment"
                        label="审查意见"
                        labelVisible="false"
                        name="comment"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Radio"
                        editable="true"
                        id="choice"
                        label="审查意见"
                        labelVisible="false"
                        name="choice"
                        openClean="true"
                        option="com.sg.document.basic.choice2a"
                        persistable="true"
                        required="true"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        defaultValueProvider="com.sg.common.ui.CurrentDate"
                        editPart="DateDialog"
                        editable="false"
                        id="date"
                        label="日期"
                        labelVisible="true"
                        name="date"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="Date"
                        visible="true"
                        widthHint="150">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.common.ui.CurrentUserDefaultValue2"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="actor"
                        label="审批人"
                        labelVisible="true"
                        name="actor"
                        openClean="true"
                        persistable="true"
                        required="false"
                        saveHistory="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
         <basicpage
               description="相关的文档"
               id="com.sg.cpm.task.docpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.DocumentTaskFormDefaultPage"
               title="文档">
         </basicpage>
         <basicpage
               description="工作流程信息"
               id="com.sg.cpm.task.flowpage"
               image="image/m_task16.gif"
               pageDelegator="com.sg.common.ui.WorkflowTaskFormDefaultPage"
               title="流程记录">
         </basicpage>
      </editor>
   </extension>
   <extension
         point="com.sg.bpm.service.serviceTask">
      <service
            interface="com.sg.project.taskservice"
            name="月报"
            operation="monthlyreport"
            serviceProvider="com.sg.document.tmt.projectreport.service.FinishMonthlyReport">
      </service>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.sg.cpm.perspectives.project">
         <actionSet
               id="com.sg.document.tmt.projectreport.actionSet">
         </actionSet>
         <view
               closeable="false"
               id="com.sg.cpm.view.projectsummary"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="com.sg.cpm.view.obs"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.sg.document.tmt.projectreport.actionSet"
            label="项目报告">
         <action
               allowLabelUpdate="false"
               class="com.sg.document.tmt.projectreport.action.Report"
               icon="image/v_report32.png"
               id="com.sg.cpm.action.reportProject"
               label="项目报告"
               retarget="false"
               style="push"
               toolbarPath="main/pers">
         </action>
      </actionSet>
   </extension>
   <extension
         point="com.sg.widget.singleobjecteditor">
      <editor
            collectionName="dummy"
            id="com.sg.document.tmt.projectreport.SelectReport"
            image="image/v_task32.png"
            name="项目月报汇总">
         <basicpage
               description="选择部门和汇总月份"
               id="1"
               image="image/m_task16.gif"
               title="项目按部门和月份汇总">
            <pagecolumn
                  id="1">
               <section
                     label="月报信息">
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.document.tmt.projectreport.editor.defaultvalue.DefaultYear"
                        editPart="Text(Single Line)"
                        editable="true"
                        id="year"
                        label="年度"
                        labelVisible="true"
                        name="year"
                        persistable="true"
                        required="false"
                        type="String"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        defaultValueProvider="com.sg.document.tmt.projectreport.editor.defaultvalue.DefaultMonth"
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="month"
                        label="月份"
                        labelVisible="true"
                        name="month"
                        option="com.sg.document.tmt.projectreport.month"
                        persistable="true"
                        required="true"
                        type="Integer"
                        visible="true">
                  </field>
                  <field
                        computeField="false"
                        editPart="Combo(Read Only)"
                        editable="true"
                        id="dept"
                        label="部门"
                        labelVisible="true"
                        name="dept"
                        optionProvider="com.sg.document.tmt.projectreport.editor.option.DepartmentProjectAdminOptions"
                        persistable="true"
                        required="true"
                        type="String"
                        visible="true">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sg.document.tmt.projectreport.view.ProjectSummary"
            icon="image/v_calendar32.png"
            id="com.sg.cpm.view.projectsummary"
            name="项目看板"
            restorable="true">
      </view>
   </extension>

</plugin>
