<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="appLoginPage" name="AppLoginPage" schema="schema/appLoginPage.exsd"/>
   <extension
         point="com.sg.db.query">
      <queryExpression
            collection="user"
            id="com.sg.user.query"
            name="用户登录">
         <conditionObject>
            <key_value
                  fieldName="uid">
               <singleValue
                     parameter="uid"
                     valueType="Regex">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="password">
               <singleValue
                     parameter="password"
                     valueType="String">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="email">
               <singleValue
                     parameter="email"
                     valueType="Regex">
               </singleValue>
            </key_value>
            <key_value
                  fieldName="desc">
               <singleValue
                     parameter="desc"
                     valueType="String">
               </singleValue>
            </key_value>
         </conditionObject>
         <parameter
               name="uid">
         </parameter>
         <parameter
               name="password">
         </parameter>
         <parameter
               name="email">
         </parameter>
         <parameter
               name="desc">
         </parameter>
      </queryExpression>
      <queryExpression
            collection="site"
            id="com.sg.site.query"
            name="站点查询">
         <conditionObject>
            <key_value
                  fieldName="_id">
               <singleValue
                     parameter="_id"
                     valueType="ObjectId">
               </singleValue>
            </key_value>
         </conditionObject>
         <parameter
               name="_id">
         </parameter>
      </queryExpression>
   </extension>

</plugin>
