<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.sg.cpm.perspectives.project">
         <view
               closeable="false"
               id="com.sg.cpm.view.projectNavigator"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.sg.cpm.view.wbs"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="right"
               relative="com.sg.cpm.view.projectNavigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.sg.cpm.view.obs"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="com.sg.cpm.view.wbs"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <actionSet
               id="com.sg.cpm.actionSet.project">
         </actionSet>
      </perspectiveExtension>
      </extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         id="com.sg.cpm.actionSet.project"
         label="项目">
      <action
            allowLabelUpdate="false"
            class="com.sg.cpm.project.actions.wbs.RemoveProject"
            icon="image/tb_trash32.png"
            id="com.sg.cpm.action.removeProject"
            label="删除项目"
            retarget="false"
            style="push"
            toolbarPath="main/pers">
      </action>
      <action
            allowLabelUpdate="false"
            class="com.sg.cpm.project.actions.wbs.EditProject"
            icon="image/tb_edit32.png"
            id="com.sg.cpm.action.editProject"
            label="编辑项目"
            retarget="false"
            style="push"
            toolbarPath="main/pers">
      </action>
      <action
            allowLabelUpdate="false"
            class="com.sg.cpm.project.actions.wbs.CreateProject"
            icon="image/tb_create32.png"
            id="com.sg.cpm.action.createProject"
            label="创建项目"
            retarget="false"
            style="push"
            toolbarPath="main/pers">
      </action>
   </actionSet>
</extension>
<extension
      point="org.eclipse.ui.viewActions">
   <viewContribution
         id="com.sg.cpm.viewContribution.wbs"
         targetID="com.sg.cpm.view.wbs">
      <action
            class="com.sg.widget.actions.Expand"
            icon="image/v_plus32.png"
            id="com.sg.cpm.actions.wbs.expand"
            label="展开"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.widget.actions.Collapse"
            icon="image/v_minus32.png"
            id="com.sg.cpm.actions.wbs.collapse"
            label="收起"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.wbs.CheckDocument"
            icon="image/v_check32.png"
            id="com.sg.cpm.actions.wbs.checkDocument"
            label="完整性检查"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.wbs.FilterDoc"
            icon="image/v_docs32.png"
            id="com.sg.cpm.actions.wbs.filterDoc"
            label="显示文档"
            style="push"
            toolbarPath="additions"
            tooltip="在任务下级同时显示交付文档">
      </action>
      <action
            class="com.sg.cpm.project.actions.wbs.Remove"
            icon="image/v_delete32.png"
            id="com.sg.cpm.actions.wbs.remove"
            label="删除"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.wbs.Edit"
            icon="image/v_edit32.png"
            id="com.sg.cpm.actions.wbs.edit"
            label="编辑"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.wbs.CreateDoc"
            icon="image/v_document_add32.png"
            id="com.sg.cpm.actions.wbs.createDocument"
            label="添加交付文档"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.wbs.CreateWork"
            icon="image/v_task_create32.png"
            id="com.sg.cpm.actions.wbs.createWork"
            label="添加工作"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.wbs.assignment.TemplateMenu"
            enablesFor="1"
            icon="image/v_plan32.png"
            id="com.sg.cpm.actions.wbs.assignment"
            label="模板导入以及自动分派"
            style="push"
            toolbarPath="additions"
            tooltip="模板导入以及自动分派">
      </action>
   </viewContribution>
   <viewContribution
         id="com.sg.cpm.viewContribution.obs"
         targetID="com.sg.cpm.view.obs">
      <action
            class="com.sg.widget.actions.Expand"
            icon="image/v_plus32.png"
            id="com.sg.cpm.actions.obs.expand"
            label="展开"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.widget.actions.Collapse"
            icon="image/v_minus32.png"
            id="com.sg.cpm.actions.obs.collapse"
            label="收起"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.obs.Remove"
            icon="image/v_delete32.png"
            id="com.sg.cpm.actions.obs.remove"
            label="删除"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.obs.Edit"
            icon="image/v_edit32.png"
            id="com.sg.cpm.actions.obs.edit"
            label="编辑"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.obs.CreateRole"
            icon="image/v_create_role32.png"
            id="com.sg.cpm.actions.obs.createRole"
            label="创建角色"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.obs.CreateTeam"
            icon="image/v_create_org32.png"
            id="com.sg.cpm.actions.obs.createTeam"
            label="创建团队"
            style="push"
            toolbarPath="additions">
      </action>
   </viewContribution>
   <viewContribution
         id="com.sg.cpm.viewContribution.project"
         targetID="com.sg.cpm.view.projectNavigator">
      <action
            class="com.sg.cpm.project.actions.process.ProjectCancel"
            icon="image/v_cancel32.png"
            id="com.sg.cpm.actions.project.cancel"
            label="取消"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.process.ProjectClose"
            icon="image/v_close32.png"
            id="com.sg.cpm.actions.project.close"
            label="完成"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.process.ProjectStop"
            icon="image/v_stop32.png"
            id="com.sg.cpm.actions.project.stop"
            label="暂停"
            style="push"
            toolbarPath="additions">
      </action>
      <action
            class="com.sg.cpm.project.actions.process.ProjectStart"
            icon="image/v_start32.png"
            id="com.sg.cpm.actions.project.start"
            label="启动"
            style="push"
            toolbarPath="additions">
      </action>
   </viewContribution>
</extension>
<extension
      point="org.eclipse.ui.views">
   <view
         allowMultiple="false"
         class="com.sg.cpm.project.view.ProjectView"
         icon="image/v_calendar32.png"
         id="com.sg.cpm.view.projectNavigator"
         name="项目导航"
         restorable="true">
   </view>
   <view
         class="com.sg.cpm.project.view.WBSView"
         icon="image/v_wbs32.png"
         id="com.sg.cpm.view.wbs"
         name="项目进度计划"
         restorable="true">
   </view>
   <view
         class="com.sg.cpm.project.view.OBSView"
         icon="image/v_org32.png"
         id="com.sg.cpm.view.obs"
         name="项目团队"
         restorable="true">
   </view>
</extension>

   <extension
         name="project"
         point="com.sg.widget.querytableviewer">
      <table
            customItemHeight="76"
            doubleClickListener="com.sg.cpm.project.viewer.ProjectDoubleClickListener"
            headerVisiable="false"
            id="com.sg.cpm.queryProject"
            lineVisiable="true"
            markupEnabled="true"
            multiSelection="true"
            query="com.sg.cpm.query.project"
            useHashlookup="true">
         <column
               column="id"
               labelProvider="com.sg.cpm.project.viewer.ProjectInformation"
               moveable="true"
               name="项目"
               resizable="true"
               sorter="true"
               style="SWT.LEFT"
               type="String"
               width="400">
         </column>
         
      </table>
   </extension>
   <extension
         point="com.sg.widget.querytreeviewer">
      <tree
            autoExpandLevel="2"
            fullSelection="true"
            headerVisiable="true"
            id="com.sg.cpm.project.wbs"
            lineVisiable="true"
            query="com.sg.cpm.currentProject"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.project.viewer.WorkIconColumnLabelProvider"
               name="描述"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="300">
         </column>
         <column
               column="wbsseq"
               labelProvider="com.sg.cpm.project.viewer.WBSCodeColumnLabelProvider"
               name="WBS代码"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Integer"
               width="80">
         </column>
         <column
               column="pm"
               labelProvider="com.sg.cpm.project.viewer.WBSPMColumnLabelProvider"
               moveable="true"
               name="负责人"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="80">
         </column>
         <column
               column="planstart"
               labelProvider="com.sg.cpm.project.viewer.WBSDateColumnLabelProvider"
               moveable="true"
               name="计划开始"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Date"
               width="85">
         </column>
         <column
               column="planfinish"
               labelProvider="com.sg.cpm.project.viewer.WBSDateColumnLabelProvider"
               moveable="true"
               name="计划完成"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Date"
               width="85">
         </column>
         <column
               column="actualstart"
               labelProvider="com.sg.cpm.project.viewer.WBSDateColumnLabelProvider"
               moveable="true"
               name="实际开始"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Date"
               width="85">
         </column>
         <column
               column="actualfinish"
               labelProvider="com.sg.cpm.project.viewer.WBSDateColumnLabelProvider"
               moveable="true"
               name="实际完成"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Date"
               width="85">
         </column>
         <column
               column="progress"
               moveable="false"
               name="进展"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="120">
         </column>
         <column
               column="assignto"
               labelProvider="com.sg.cpm.project.viewer.AssignToLabelProvider"
               moveable="false"
               name="分配到"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="120">
         </column>
      </tree>
      <tree
            autoExpandLevel="2"
            fullSelection="true"
            headerVisiable="false"
            id="com.sg.cpm.project.obs"
            lineVisiable="false"
            multiSelection="false"
            query="com.sg.cpm.currentProjectOBS"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.project.viewer.ProjectOBSLabelProvider"
               name="描述"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="320">
         </column>
      </tree>
      <tree
            autoExpandLevel="2"
            fullSelection="true"
            headerVisiable="true"
            id="com.sg.cpm.project.wbs.forcheck"
            lineVisiable="true"
            query="com.sg.cpm.currentProject"
            useHashlookup="true">
         <column
               column="desc"
               labelProvider="com.sg.cpm.project.viewer.WorkIconColumnLabelProvider"
               name="描述"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="300">
         </column>
         <column
               column="pm"
               labelProvider="com.sg.common.ui.DBObjectUserPresentation"
               moveable="true"
               name="负责人"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="String"
               width="120">
         </column>
         <column
               column="planstart"
               labelProvider="com.sg.widget.viewer.labelprovider.DateColumnLabelProvider"
               moveable="true"
               name="计划开始"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Date"
               width="85">
         </column>
         <column
               column="planfinish"
               labelProvider="com.sg.widget.viewer.labelprovider.DateColumnLabelProvider"
               moveable="true"
               name="计划完成"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Date"
               width="85">
         </column>
         <column
               column="actualstart"
               labelProvider="com.sg.widget.viewer.labelprovider.DateColumnLabelProvider"
               moveable="true"
               name="实际开始"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Date"
               width="85">
         </column>
         <column
               column="actualfinish"
               labelProvider="com.sg.widget.viewer.labelprovider.DateColumnLabelProvider"
               moveable="true"
               name="实际完成"
               resizable="true"
               sorter="false"
               style="SWT.LEFT"
               type="Date"
               width="85">
         </column>
      </tree>
   </extension>
   <extension
         point="com.sg.widget.navigatableView">
      <navigatableView
            partId="com.sg.cpm.view.wbs"
            queryViewerId="com.sg.cpm.project.wbs">
         <selectionProvider
               partId="com.sg.cpm.view.projectNavigator">
            <parameterEvaluation
                  getValueFromWhichKey="_id"
                  putValueFromWhichParameter="_id">
            </parameterEvaluation>
         </selectionProvider>
      </navigatableView>
      <navigatableView
            partId="com.sg.cpm.view.obs"
            queryViewerId="com.sg.cpm.project.obs">
         <selectionProvider
               partId="com.sg.cpm.view.projectNavigator">
            <parameterEvaluation
                  getValueFromWhichKey="obsroot"
                  putValueFromWhichParameter="_id">
            </parameterEvaluation>
         </selectionProvider>
      </navigatableView>
      <navigatableView
            initLoad="false"
            partId="com.sg.cpm.view.projectNavigator"
            queryViewerId="com.sg.cpm.queryProject"
            singleObjectEditorId="com.sg.cpm.editor.project.create">
      </navigatableView>
   </extension>

</plugin>
