<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            favicon="image/favicon.png"
            id="com.sg.cpm.branding"
            themeId="com.sg.design.business.theme"
            title="Cloud Project">
         <presentationFactory
               defaultLayoutId="com.sg.design.business.layout"
               id="com.sg.design.business.factory"
               viewActionsVisible="true">
            <defaultStackPresentation
                  id="com.sg.design.stack.view">
            </defaultStackPresentation>
         </presentationFactory>
      </branding>
   </extension>
   <extension
         point="com.sg.user.appLoginPage">
      <appLoginPage
            appLogo="image/appLogo.png"
            information="Product: CPM Version: 1.0.1, Build id: 20121021-2045 Yaozheng Technology|SGE Software and Service Co., Ltd. Copyright 2010-2012 All Right Reserved. "
            productLogo="image/logo_xxl.png">
      </appLoginPage>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sg.cpm.perspectives.Workspace"
            fixed="false"
            icon="image/MB_0023_home2_32.png"
            id="com.sg.cpm.perspectives.workspace"
            name="工作区">
      </perspective>
      <perspective
            class="com.sg.cpm.perspectives.Document"
            fixed="false"
            icon="image/MB_0017_folder_32.png"
            id="com.sg.cpm.perspectives.document"
            name="文档">
      </perspective>
      <perspective
            class="com.sg.cpm.perspectives.Project"
            fixed="false"
            icon="image/MB_0010_tasks_32.png"
            id="com.sg.cpm.perspectives.project"
            name="项目">
      </perspective>
      <perspective
            class="com.sg.cpm.perspectives.Admin"
            fixed="false"
            icon="image/MB_0021_tools_32.png"
            id="com.sg.cpm.perspectives.admin"
            name="管理">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:main?after=common">
         <command
               commandId="com.sg.widget.command.activeExport"
               icon="image/tb_export32.png"
               label="导出"
               style="push">
         </command>
         <command
               commandId="com.sg.widget.command.activeUpdate"
               icon="image/tb_refresh32.png"
               label="更新"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="com.sg.cpm.branding"
            class="com.sg.cpm.App"
            id="com.sg.cpm.main"
            path="/start">
      </entrypoint>
   </extension>
   <extension
         point="com.sg.design.headAreaPart">
      <headAreaPart
            getHeadAreaPart="com.sg.cpm.UserHeader">
      </headAreaPart>
   </extension>
   <extension
         id="com.sg.cpm.application.tmt"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="image/favicon.png"
            thread="main"
            visible="true">
         <run
               class="com.sg.cpm.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sg.cpm.application.tmt"
            name="CloudPM">
         <property
               name="appName"
               value="CloudPM">
         </property>
      </product>
   </extension>
 
</plugin>
